<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" th:action="@{/auth/doLogin}" style="max-width: 400px; margin: 0 auto"  >
        <h2 class="form-signin-heading">Login</h2>
        <p>
            <input type="email"  name="email" class="form-control" placeholder="Username" required>
        </p>
        <p>
            <input type="password"  name="pass" class="form-control" placeholder="Password" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>