<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Register fail</title>
    <style>
        b{
            font-family: "Bell MT" , "serif";
            color: #007bff;
            text-decoration: none;
            text-align: center;
            font-size: 30px;
        }
        a{
            text-align: center;
            font-family: "Bell MT" , "serif";
            color: #007bff;
            text-decoration: none;
            font-size: 20px;
        }
    </style>
</head>
<body>
<div align="center"><b>Sorry, but password length is less than 8. Click on the link below to change it</b></div>
<div align="center"><a href="/register">return to the form</a></div>
</body>
</html>