<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>

        .some {
            text-align: center;
            font-family: "Monospaced", "serif";
            color: blue;
        }
    </style>
</head>
<body>
    <div class="some">
        <H1> Congratulations! </H1>
        <h2> You have successfully registered</h2>
        <h4><a th:href="@{/api/v1/login}">Click here to login</a></h4>
    </div>
</body>
</html>